@import "../../../components/shared/variables.css";

.header {
  margin-bottom: 20px;
  margin-top: 40px;
}

.logo {
  margin-bottom: 1px;
}

@media (--screen-sm-min) {
  .header {
    margin-top: 180px;
  }
}