:root {
  --app-color: #596177;
  --app-color-dark: #4B5265;
  --app-color-alt: #FF0090;
  --metric-bg: #61697E;
  --metric-bg-light: #6E758A;
}

@custom-media --screen-xs-min (min-width: 480px);
@custom-media --screen-sm-min (min-width: 768px);
@custom-media --screen-md-min (min-width: 992px);
@custom-media --screen-lg-min (min-width: 1200px);