@import "../../../components/shared/variables.css";

:root {
  --color-close-button: rgba(255, 255, 255, 0.6);
}
.button {

  background-color: transparent;
  border: 1px solid var(--color-close-button);
  border-radius: 100px; 
  color: var(--color-close-button);
  padding: 1px 4px;
  position: absolute;
  right: 10px;
  bottom: 10px;

  &:hover {
    background-color: var(--app-color-alt);
    border-color: white;
    color: white;
  }

  &:focus {
    outline: none;
  }
}