@import "../../../../components/shared/variables.css";
.title {
  font-size: var(--font-size-header);
  line-height: var(--line-height-header);
  font-weight: normal;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
  word-wrap: break-word;
}

.titleEditing {
  composes: title;
  cursor: pointer;

  .titleEditIcon {
    display: none;
  }

  &:hover {
    .titleEditIcon {
      display: inline-block;
    }
  }
}

.titleEditIcon {
  margin-left: 5px;
  cursor: pointer;
  display: none;
}

.metas {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;

  li {
    font-size: 11px;
    color: rgba(255, 255, 255, 0.4);
    visibility: hidden;
    font-style: italic;
  }
}

.metasVisible {
  composes: metas;

  li {
    visibility: visible;
  } 
}