@import "../../../components/shared/variables.css";

.metric {
  width: var(--metric-xs-width);
  padding: var(--metric-xs-padding);
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--metric-bg);
  border-radius: 3px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: var(--metric-bg-light);
      .metas li {
        visibility: visible;
      }
    }
  }

  .metricName {
    font-size: 1em;
    font-weight: normal;
    margin: 0 0 10px 0;
    color: rgba(255, 255, 255, 0.6);
  }

  .metas {
    list-style: none;
  margin: 0;
  padding: 0;

  li {
    font-size: 11px;
    color: rgba(255, 255, 255, 0.4);
    visibility: hidden;
    font-style: italic;
  }
}

@media (--screen-xs-min) {
  .metric {
    width: var(--metric-normal-width);
    padding: var(--metric-normal-padding);
  }
}