@import "../../../components/shared/variables.css";

.metric {
  width: var(--metric-xs-width);
  padding: var(--metric-xs-padding);
  margin-left: 1%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--metric-bg);
  border-radius: 3px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
  position: relative;
  min-height: 80px;

  &:hover {
    background-color: var(--metric-bg-light);
  }
}

@media (--screen-xs-min) {
  .metric {
    width: var(--metric-normal-width);
    padding-left: var(--metric-normal-padding);
    padding-right: var(--metric-normal-padding);
  }
}