@import "../../../../components/shared/variables.css";

:root {
  --bar-height: 32px;
}

.bar {}

.name {
  composes: ellipsis from  "../../../../components/shared/utils.css";
  color: rgba(255, 255, 255, 0.4);
  line-height: var(--bar-height);
}

.button {
  float: right; 
  margin-left: 10px;
  background-color: var(--app-color-dark);
  line-height: var(--bar-height);
  border: 0;
  border-radius: 2px;
  color: white;
  padding: 0 10px;
  text-transform: uppercase;
  font-size: 11px;

  &:hover {
    background-color: var(--app-color-alt);
  }

  &:focus {
    outline: none;
  }
}

.buttonActive {
  composes: button;
  background-color: var(--app-color-alt);
}