@import "../../../components/shared/variables.css";

.buttonWrapper {
  width: calc(var(--metric-xs-width) + calc(var(--metric-xs-padding) * 2));
  position: relative;
}

.button {
  background-color: #565E73;
  border: 1px dashed rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  display: block;
  width: 100%;
  min-height: 80px;
  text-transform: uppercase;
  font-size: 11px;
  position: absolute;
  top: 0;
  bottom: 10px;
  &:hover {
    background-color: var(--metric-bg-light);
  }
}

.icon,
.buttonText {
  display: inline-block;
  vertical-align: middle;
  color: white;
  color: rgba(255, 255, 255, 0.6);
}

.icon {
  margin-right: 10px;
  font-size: 20px;
}

@media (--screen-xs-min) {
  .buttonWrapper {
    width: calc(var(--metric-normal-width) + calc(var(--metric-normal-padding) * 2));
  }
}